{
  "id": "7f490a25-d636-42ab-809f-15958a908703",
  "name": "Sakenny Local Example",
  "values": [
    { "key": "baseUrl", "value": "http://localhost:5111", "enabled": true },
    { "key": "testPassword", "value": "QaSmoke@12345", "enabled": true },
    { "key": "runId", "value": "", "enabled": true },
    { "key": "userEmail", "value": "", "enabled": true },
    { "key": "adminEmail", "value": "qa-admin@example.test", "enabled": true },
    { "key": "userToken", "value": "", "enabled": true },
    { "key": "hostToken", "value": "", "enabled": true },
    { "key": "adminToken", "value": "", "enabled": true },
    { "key": "userId", "value": "", "enabled": true }
  ],
  "_postman_variable_scope": "environment",
  "_postman_exported_using": "Sakenny QA Lab"
}
