MSSQL_SA_PASSWORD=ReplaceWith_Strong-SqlPassword1!
MSSQL_HOST_PORT=14330
GRAFANA_SQL_PASSWORD=ReplaceWith_Strong-ReaderPassword1!
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=ReplaceWith_Strong-GrafanaPassword1!
GRAFANA_HOST_PORT=3000
API_HOST_PORT=5111
AZURITE_ACCOUNT_KEY=
JWT_KEY=ReplaceWith_A-Long-Random-Development-Jwt-Key_AtLeast32Characters
BOOTSTRAP_ADMIN_USERNAME=qa-admin
BOOTSTRAP_ADMIN_EMAIL=qa-admin@example.test
BOOTSTRAP_ADMIN_PASSWORD=QaSmoke@12345
