GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=replace-with-local-grafana-password
GF_MSSQL_HOST=host.docker.internal:1433
GF_MSSQL_DATABASE=SakennyDB
GF_MSSQL_USER=grafana_reader
GF_MSSQL_PASSWORD=replace-with-local-sql-password
